@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
html {
  color-scheme: light only;
}

body {
  background: linear-gradient(to bottom, #e3f1f1, #cbdfde);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes carregarProgresso {
  from {
    width: 0%;
  }
  to {
    width: var(--progresso);
  }
}

.barra-progresso-animada {
  width: 0%;
  animation: carregarProgresso 1.5s ease-out forwards;
}

@keyframes carregarRosca {
  from {
    stroke-dasharray: 0 100;
  }
  to {
    stroke-dasharray: var(--progresso-rosca) 100;
  }
}

.rosca-progresso-animada {
  stroke-dasharray: 87.96;
  stroke-dashoffset: calc(87.96 - (87.96 * var(--progresso-rosca)) / 100);
  transition: stroke-dashoffset 1s ease;
}
@property --valor-rosca {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@keyframes carregarRoscaConic {
  from {
    --valor-rosca: 0%;
  }
  to {
    --valor-rosca: var(--progresso-rosca);
  }
}

.rosca-conic-animada {
  --valor-rosca: 0%;
  animation: carregarRoscaConic 1.5s ease-out forwards;
  background: conic-gradient(
    from -90deg,
    var(--cor-inicio) 0%,
    var(--cor-fim) var(--valor-rosca),
    #e5e7eb var(--valor-rosca) 100%
  );
}
